@using System.Data
@using Webmypcproject.Models;
@model Webmypcproject.Data.UsersInput;
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory.Database
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Registration Page";
        
    
}
<div class="text-center">
    <div class="card-body">

        <div class="form-signin">
            <h1 class="zagolovok mb-3"</><>RASUL PC</h1>


            @using (Html.BeginForm("Index", "RegistrationPage", FormMethod.Post))
            {

               

                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Логин" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })

                <div class="btnlogin">
                    <input type="submit" value="Создать" class="btn btn-lg btn-primary btn-block">
                    
                </div>
                <img class="mb-4" src="/img/hyperpc.jpg" alt="" width="150" height="150">
                <h1 class="h3 mb-3 font-weight-normal">Собери компьютер мечты</h1>
            }
        </div>
    </div>

</div>