
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Registration Page";
        
    
}
<div class="text-center">
    <form class="form-signin">

        <h2 class="zagolovok mb-3"</><>Страница регистрации</h2>

        <div class="createform">

        <input type="email" id="inputEmail" class="form-control" placeholder="Логин" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль" required="">

        </div>
        @{
            
        }
        <div class="btncreate">

        <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="RegistrationPage">Создать</a></button>
        </div>
        

    </form>
</div>