*{
    margin:0;
    padding: 0;
}

html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 200px;
}

.form-control{
    margin : 10px
}
.mb-4 {
    margin: 10px;
    border-radius: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #232324;
    border-color: #232324;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: Segoe print;
}

.zagolovok {
    font-size: 34px;
    padding-bottom: 10px;
}
a {
    color: white;
    text-decoration: none;
}
.btncreate {
    margin-top: 30px;
}

.btnlogin {
    margin-top: 30px;
}