@using System.Data
@using Webmypcproject.Models;
@model Webmypcproject.Data.UsersInput;
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory.Database
@{
    ViewData["Title"] = "Home Page";


    //<input action="TxtPassword" type="password" id="inputPassword" name="TxbPassword" class="form-control" placeholder="Пароль" required="">
}

<div class="text-center">
    <div class="card-body">

        <div class="form-signin">
            <h1 class="zagolovok mb-3"</><>RASUL PC</h1>
       
        
        @using (Html.BeginForm("Index", "MenuPage", FormMethod.Post))
        {

            if (ViewBag.LoginStatus != null)
            {
                if (ViewBag.LoginStatus == 0)
                {
                    <div class="alert alert-danger">Данные введены неправильно!</div>
                }

            }
            
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Логин" })

                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
           
                <div class="btnlogin">
                    <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block">
                    <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="RegistrationPage">Регистрация</a></button>
            </div>
                <img class="mb-4" src="/img/hyperpc.jpg" alt="" width="150" height="150">
                <h1 class="h3 mb-3 font-weight-normal">Собери компьютер мечты</h1>
        }
    </div>
    </div>
   
</div>

