@using System.Data
@using Webmypcproject.Models;
@model Webmypcproject.Data.UsersInput;
@using static Microsoft.EntityFrameworkCore.DbLoggerCategory.Database
@{
    ViewData["Title"] = "Home Page";


    //<input action="TxtPassword" type="password" id="inputPassword" name="TxbPassword" class="form-control" placeholder="Пароль" required="">
}

<div class="text-center">
    

        
        <img class="mb-4" src="/img/hyperpc.jpg" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">Собери компьютер мечты</h1>
       

</div>


